<h1>Edit Profile</h1>

<%= form_with(model: @user, url: profile_path, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :user_name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email, id: :user_email %>
  </div>

  <div class="field">
    <%= form.label :profile %>
    <%= form.text_area :profile, id: :user_profile %>
  </div>

  <div class="field">
    <%= form.label :avatar %>
    <%= form.file_field :avatar, id: :user_avatar %>
  </div>

  <div class="field">
    <%= form.label :current_weight %>
    <%= form.number_field :current_weight, id: :user_current_weight, step: 0.1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', profile_path %>

