<div class="min-h-screen bg-gray-100 flex items-center justify-center">
  <div class="bg-white p-8 rounded-lg shadow-md w-96">
    <h1 class="text-center text-2xl font-bold mb-4"><%= t('profiles.show.title') %></h1>
    <p class="text-center mb-2"><strong><%= t('profiles.show.name') %>:</strong> <%= @user.name %></p>
    <p class="text-center mb-2"><strong><%= t('profiles.show.email') %>:</strong> <%= @user.email %></p>
    <p class="text-center mb-2"><strong><%= t('profiles.show.profile_description') %>:</strong> <%= @user.profile %></p>
    
    <div class="text-center mb-4">
      <strong><%= t('profiles.show.avatar') %>:</strong>
      <% if @user.avatar.present? %>
        <%= image_tag @user.avatar.url, alt: "User's Avatar", class: "mx-auto mt-2 rounded-full" %>
      <% else %>
        <p><%= t('profiles.show.no_avatar') %></p>
      <% end %>
    </div>

    <p class="text-center mb-2"><strong><%= t('profiles.show.gender') %>:</strong> <%= @user.gender %></p>
    <p class="text-center mb-2"><strong><%= t('profiles.show.age') %>:</strong> <%= @user.age_public ? @user.age : t('profiles.show.age_private') %> <%= t('helpers.label.meal.years') %></p>
    <p class="text-center mb-2"><strong><%= t('profiles.show.height') %>:</strong> <%= @user.height_public ? @user.height : t('profiles.show.height_private') %> cm</p>
    <p class="text-center mb-2"><strong><%= t('profiles.show.current_weight') %>:</strong> <%= @user.weight_public ? @user.current_weight : t('profiles.show.weight_private') %> kg</p>
    <p class="text-center mb-2"><strong><%= t('profiles.show.bmr') %>:</strong> <%= basal_metabolic_rate(@user).round(2) %> kcal/day</p>
    <p class="text-center mb-2"><strong><%= t('profiles.show.target_weight') %>:</strong> 
    <%= @user.goals.last&.target_weight.to_f - @user.current_weight.to_f %> kg
</p>

    <div class="text-center mt-4">
      <%= link_to t('profiles.show.edit_button'), edit_profile_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  </div>
</div>
