<h1>Posts</h1>
<%= link_to 'New Post', new_post_path %>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= truncate(post.content, length: 50) %></td>
        <td><%= image_tag(post.image.url) if post.image.present? %></td>
        <td>
          <%= link_to 'Show', post_path(post) %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
