<%= form_with(model: exercise, class: 'space-y-4 max-w-md mx-auto') do |f| %>
  <div class="flex flex-col">
    <%= f.label :exercise_type_id, t('exercises.form.type'), class: 'mb-2 font-semibold' %>
    <%= f.collection_select :exercise_type_id, ExerciseType.all, :id, :name, {}, {class: 'form-input w-full p-2 border rounded'} %>
  </div>

  <div class="flex flex-col">
    <%= f.label :duration, t('exercises.form.duration'), class: 'mb-2 font-semibold' %>
    <%= f.number_field :duration, class: 'form-input w-full p-2 border rounded' %>
  </div>

  <div class="flex flex-col">
    <%= f.label :calories_burned, t('exercises.form.calories_burned'), class: 'mb-2 font-semibold' %>
    <%= f.number_field :calories_burned, placeholder: t('exercises.form.calories_placeholder'), class: 'form-input w-full p-2 border rounded' %>
  </div>

  <div class="flex flex-col">
    <%= f.label :date_time, t('exercises.form.date_time'), class: 'mb-2 font-semibold' %>
    <%= f.datetime_field :date_time, class: 'form-input w-full p-2 border rounded' %>
  </div>

  <div class="flex justify-center mt-6">
    <%= f.submit t('exercises.form.submit'), class: 'bg-blue-500 hover:bg-blue-600 text-white px-6 py-2 rounded font-bold' %>
  </div>
<% end %>

<script>
  document.addEventListener("turbolinks:load", function() {
    const exerciseTypeSelect = document.querySelector("#exercise_exercise_type_id");
    const durationInput = document.querySelector("#exercise_duration");
    const caloriesBurnedInput = document.querySelector("#exercise_calories_burned");

    function fetchCaloriesBurned() {
      const exerciseTypeId = exerciseTypeSelect.value;
      const duration = durationInput.value;

      if (exerciseTypeId && duration) {
        fetch(`/exercises/calculate_calories?exercise_type_id=${exerciseTypeId}&duration=${duration}`)
          .then(response => response.json())
          .then(data => {
            caloriesBurnedInput.value = data.calories_burned;
          });
      }
    }

    exerciseTypeSelect.addEventListener("change", fetchCaloriesBurned);
    durationInput.addEventListener("input", fetchCaloriesBurned);
  });
</script>

